th, td {
    border: 1px solid rgb( 153, 153, 153 );
    background-color: #f9f9f9;
    width: 12em;
    text-align: center;
}
th {
    background-color: #cfcfcf;
}
td.vide {
    background-color: transparent;
    border: none;
}
